@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>
                Viendo en la ventana Escuela
            </p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @RenderBody()
        </div>
    </div>
</div>