@model List<Alumno>

@{
    string WindowName = "Alumnos";
    ViewData["Title"] = "Información " + WindowName;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                @WindowName
            </h1>
        </div>
        <div class="col-12">
            <div class="object-container">
                @foreach(Alumno alumno in Model)
                {
                    <div class="object">
                        <address>
                            <partial name="Objeto" model="alumno" />
                        </address>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

