@model List<Alumno>

@{
    string WindowName = "Alumnos";
    ViewData["Title"] = "Información " + WindowName;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                @WindowName
            </h1>
        </div>
        <div class="col-12">
            <div class="object-container">
                @foreach(Alumno alumno in Model)
                {
                    <a asp-controller="Alumno" asp-action="Single" asp-route-id="@alumno.Id">
                        <div class="object">
                            <address>
                                <partial name="Objeto" model="alumno" />
                            </address>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a asp-action="Create">
                <button class="btn btn-outline-dark">
                    + Crear un nuevo Alumno
                </button>
            </a>
        </div>
    </div>
</div>

