@model Curso

<h1>@Model.Nombre</h1>
<hr>
<h2>Escuela: @Model.Escuela.Nombre</h2>
<p>Alumnos Matriculados:</p>
<ul>
    @foreach (Inscripcion inscripcion in Model.Inscripciones)
    {
        <li>@inscripcion.Alumno.Nombre</li>
    }
</ul>